In [76]:
# open csv file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
df = pd.read_csv('../Data/Final_Data/Labels1.csv')
# df

In [78]:
# find same data from weekdasy_Aug and  save it in different file
df1 = pd.read_csv('../Data/Final_Data/weekdays_Jan.csv')
df1
df2 = pd.read_csv('../Data/Final_Data/weekend_Jan.csv')
df2

                                       Item name  Count
0                                  Glass of Coke     30
1                         French Fries Peri Peri     26
2   Cottage Cheese, Seasoned Veggies, Baked Roll     25
3                        Thumbs Up  Can - 300 ml     24
4              ?It?s Corny? Corn Cheese Sandwich     22
..                                           ...    ...
63                            Red Bull Sugarfree      1
64                                     The Big B      1
65                  Swiss Milk Chocolate Cookies      1
66        Iced Coffee(Black hot Coffee With Ice)      1
67                             Double Eye Opener      1

[68 rows x 2 columns]

In [79]:
# find same items in both the file
df1 = df1[df1['Item name'].isin(df['Item name'])]
df1

df2 = df2[df2['Item name'].isin(df['Item name'])]
df2

# group by df1 and df2 by Count
df1 = df1.groupby('Item name')['Count'].sum()
df1

df2 = df2.groupby('Item name')['Count'].sum()
df2

# merge both the dataframes 
df3 = pd.merge(df1, df2, on='Item name')
df3

# change heading of count_x an xount_y
df3 = df3.rename(columns={'Count_x': 'Weekdays', 'Count_y': 'Weekend'})

In [80]:
# save in file
df3.to_csv('../Data/Group_data/weekdays_weekend_jan.csv')